<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejanish | Sign In </title>
    <link rel="stylesheet" href="../static/sign_in.css" type="text/css">
    <link rel="icon" href="../static/pictures/logo%20without%20name.png">

</head>

<body>
<div id="topMainSign">
    <div id="topLeftSign">
        <div class="logoSign">
            <img src="../static/pictures/logo%20without%20name.png">
        </div>
        <div class="titleSign">
            <img src="../static/pictures/logo%20only%20name.png">
        </div>
    </div>
    <div id="topRightSign">
        <nav>
            <ul id="menuSign">
                <li><a th:href="@{/sign_in}">Sign in</a></li>
                <li><a th:href="@{/product}">Products</a></li>
                <li><a th:href="@{/about_us}">About us</a></li>
                <li><a th:href="@{/home}">Home </a> </li>
            </ul>
        </nav>
    </div>

</div>

<div class="impInfoSign">
    <div class="loginInfo">

        <img src="../static/pictures/logo%20book%20piece.png" class="signLogo">
        <br>

    <label for="login" class="loginFont"> Username: </label>
    <input type="text" id="login" name="fname" size="56">
    <br>
        <br>
        <br>
        <br>
    <label for="pass" class="loginFont">Password:  </label>
    <input type="password" id="pass" name="fname" size="56">
        <br>
        <br>
        <br>

        <button onclick="myFunction()">Sign in</button>

    </div>
</div>

<div class="myDivSign">

    <div>

        <img class="applogosSign" src="../static/pictures/phone.png">
        <h2 class="textfontSign"> Phone Number: 077 45 78 90 </h2>
        <br>
        <img class="applogosSign" src="../static/pictures/homelogo.png">
        <h2 class="textfontSign">Our address: Hakob Hakobyan 3</h2>

    </div>

    <form>

        <label for="question" class="textfontSign" id="feedback">Feedback: </label>
        <input type="text" id="question" name="fname" size="60"><br><br>
        <label for="lname" class="textfontSign" id="email">Your Mail: </label>
        <input type="text" id="lname" name="lname"  placeholder="yourEmail@gmail.com" size="40"><br><br>
        <label for="fname" class="textfontSign">Any Opinions: </label>
        <input type="text" id="fname" name="fname" size="56">
        <button onclick="required()">Send</button>

    </form>

    <div class="icons-footerSign">

        <a href="https://www.instagram.com/yoorahatook/"> <img class="applogosSign" src="../static/pictures/instalogo.png"></a>
        <a href="https://www.facebook.com/ejanish"> <img class="applogosSign" src="../static/pictures/facelogo.png"></a>
        <img class="applogosSign" src="../static/pictures/twitterlogo.png">
        <img class="applogosSign" src="../static/pictures/whatsapplogo.png">

    </div>

</div>
<script src="../js/contactForm.js"></script>
<script src="../js/rnd.js"></script>
</body>
</html>